My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -16
      ],
      "id": "22e8901c-fab6-4b6f-b2f1-64da654fa2fa",
      "name": "Twilio Trigger",
      "webhookId": "93fc64a0-436d-49ee-83a6-7d0285248dc0",
      "credentials": {
        "twilioApi": {
          "id": "z2jRZzkZehd34fr6",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json[\"MediaUrl0\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -16
      ],
      "id": "9693fb6c-b9e6-4696-93cf-fefca10ddad1",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "OFC6hz7vtFPFg3OK",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json[\"WaId\"] }}_{{ new Date().toISOString() }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        -16
      ],
      "id": "25fd275e-be89-4b2a-922e-b32b65586a62",
      "name": "Upload file",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OOBkFU6eRQ6CJvBd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "={{ 'whatsapp:' + $item(0).$node[\"Twilio Trigger\"].json[\"WaId\"] }}"
            },
            {
              "name": "Body",
              "value": "Thanks! Your file has been received and uploaded to Google Drive ✅"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -16
      ],
      "id": "25581b28-d4c0-4c80-92e6-8fb198c13bdc",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "OFC6hz7vtFPFg3OK",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2851805e-b31a-4ae3-b48e-22194c6d0d0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9afa0a9ede166753e3179d5ed334298c09d75c819afb221f1c7a9a546499ca2"
  },
  "id": "9lCcN5VJKi6rRE71",
  "tags": []
}